<div class="panel panel-default">
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <a href="#!/add" class="btn btn-primary">Add new post</a>
        </div>
    </div>
</div>

<div class="list-group">
    {{#each posts}}
    <div class="item col-xs-6 col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail">
            <div class="caption-fluid">
                <h2 class="group inner list-group-item-heading">{{title}}</h2>
                <p class="group inner list-group-item-text">Published by: <b>{{author}}</b></p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p><b>{{replies.length}}</b> replies</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6"><a class="btn btn-success" href="#!/posts/{{id}}">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>