<form>
    <div class="form-group">
        <label for="username-field">Username: </label>
        <input type="text" class="form-control" id="username-field">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group">
        <label for="pwd-confirm">Confirm password:</label>
        <input type="password" class="form-control" id="pwd-confirm">
    </div>
    <button id="register-btn" type="button" class="btn btn-default">Register</button>
</form>